@charset "UTF-8";
@font-face{
    font-family: 'Mist';
    src: url('Fonts/Mistrain.ttf');
    src: url('Fonts/Mistrain.ttf') format('truetype');
}
@font-face{
    font-family: 'sun';
    src: url('Fonts/SunkistSquash-nRR04.ttf');
    src: url('Fonts/SunkistSquash-nRR04.ttf') format('truetype');
}
@font-face{
    font-family: 'Candy';
    src: url('Fonts/CandyTime.ttf');
    src: url('Fonts/CandyTime.ttf') format('truetype');
}
@font-face{
    font-family: 'Soft';
    src: url('Fonts/Soft Marshmallow.otf');
    src: url('Fonts/Soft Marshmallow.otf') format('opentype');
}
@font-face{
    font-family: 'PW';
    src: url('Fonts/PWChristmascandies.ttf');
    src: url('Fonts/PWChristmascandies.ttf') format('truetype');
}
@font-face{
    font-family: 'clip';
    src: url('Fonts/Clip.ttf');
    src: url('Fonts/Clip.ttf') format('truetype');
}
@font-face{
    font-family: 'hello';
    src: url('Fonts/hellodenverdisplaybold_v1.6.ttf');
    src: url('Fonts/hellodenverdisplaybold_v1.6.ttf') format('truetype');
}
@font-face{
    font-family: 'neon';
    src: url('Fonts/NEON____.ttf');
    src: url('Fonts/NEON____.ttf') format('truetype');
}
@font-face{
    font-family: 'dish';
    src: url('Fonts/Swedishdemo.otf');
    src: url('Fonts/Swedishdemo.otf') format('opentype');
}
@font-face{
    font-family: 'rax';
    src: url('Fonts/Raxey.otf');
    src: url('Fonts/Raxey.otf') format('opentype');
}
/*phone*/
@media only screen and (max-width: 600px){
        /*Grid-container*/
        .grid-container{
            display: grid;
            grid-template-rows: 15% auto 20%;
            grid-template-columns: 100%;
            margin: 0px;
        }
        /*do not need for the mobile*/
        .logo{
            display: none;
            visibility: hidden;
        }
        .head{
            display: none;
            visibility: hidden;
        }
        
        .back{
            display: none;
            visibility: hidden;
        }
        .HAB{
            display: none;
            visibility: hidden;
        }
        .navigation{
            display: none;
            visibility: hidden;
        }
        .navigationLand{
            display: none;
            visibility: hidden;
        }
        .foot{
            display: none;
            visibility: hidden;
        }
        .foots{
            display: none;
            visibility: hidden;
        }
        .logos{
            display: none;
            visibility: hidden;
        }
        .pic1{
            display: none;
            visibility: hidden;
        }
        .pic2{
            display: none;
            visibility: hidden;
        }
        /*header*/
        .headP{
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 2;
            font-family: 'clip';
            text-align: center;
            font-size: 50px;
            background-color: black;
            color:rgb(255, 191, 0);
        }
        .headP > a > img{
            position: absolute;
            left: 10%;
            width: 20%;
            top: 30%;
            transform: rotate(340deg);
        }
        .headP button{
            background-color: black;
            border-color: black;
            
        }
        .headP button img{
            position: absolute;
            right: 10%;
            top: 30%;
            width: 10%;  
        }
        /*header*/
        .tite{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            font-family: 'clip';
            font-size: 60px;
            text-align: center;
            background-color: black;
            color:rgb(255, 191, 0);
        }
        /*about*/
        .ut{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            border-top: 10px solid transparent;
            border-image:url(../images/NorangeB.png) 150 round;
            background-color: black;
            color:rgb(255, 191, 0);
            font-family: 'clip';
        }
        
        /*navigation*/
        .navigationPhone{
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(0, 0, 0);
            overflow-x: hidden;
            transition: 0.5s;
        }
        .n1 a img{
            float:left;
            padding-right: 10%;
            width:7.37%;
        }
        .n2 a img{
            float:left;
            padding-right: 10%;
            width:7.85%;
        }
        .n3 a img{
            float:left;
            padding-right: 10%;
            width:7.55%;
        }
        .n4 a img{
            float:left;
            padding-right: 10%;
            width:7.2%;
        }
        .n5 a img{
            width:7.6%;
        }
        /*footer*/
        .feet{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            border-top: 10px solid transparent;
            border-image:url(../images/NOrangeB.png) 150 round;
            background-color:black;
        }
        .feet > a > img{
            width: 20%;
        }
        
}
/*vertical tablet===============================================================================================================================================================*/
@media only screen and (min-width: 601px) and (max-width: 800px){
    /*Grid-container*/
    .grid-container{
        display: grid;
        grid-template-rows: 25% auto 30%;
        grid-template-columns: 100%;
        margin: 0px;
    }
    /*do not need for the mobile*/
    .logo{
        display: none;
        visibility: hidden;
    }
    .head{
        display: none;
        visibility: hidden;
    }
    
    .back{
        display: none;
        visibility: hidden;
    }
    .HAB{
        display: none;
        visibility: hidden;
    }
    .navigation{
        display: none;
        visibility: hidden;
    }
    .navigationLand{
        display: none;
        visibility: hidden;
    }
    .foot{
        display: none;
        visibility: hidden;
    }
    .foots{
        display: none;
        visibility: hidden;
    }
    .logos{
        display: none;
        visibility: hidden;
    }
    .pic1{
        display: none;
        visibility: hidden;
    }
    .pic2{
        display: none;
        visibility: hidden;
    }
    /*header*/
    .headP{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        font-family: 'clip';
        text-align: center;
        font-size: 50px;
        background-color: black;
        color:rgb(255, 191, 0);
    }
    .headP > a > img{
        position: absolute;
        left: 10%;
        width: 20%;
        top: 20%;
        transform: rotate(340deg);
    }
    .headP button{
        background-color: black;
        border-color: black;
        
    }
    .headP button img{
        position: absolute;
        right: 10%;
        top: 20%;
        width: 10%;  
    }
    /*header*/
    .tite{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        font-family: 'clip';
        font-size: 60px;
        text-align: center;
        background-color: black;
        color:rgb(255, 191, 0);
    }
    /*about*/
    .ut{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        border-top: 10px solid transparent;
        border-image:url(../images/NorangeB.png) 150 round;
        background-color: black;
        color:rgb(255, 191, 0);
        font-family: 'clip';
    }
    
    /*navigation*/
    .navigationPhone{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        overflow-x: hidden;
        transition: 0.5s;
    }
    .n1 a img{
        float:left;
        padding-right: 10%;
        width:7.37%;
    }
    .n2 a img{
        float:left;
        padding-right: 10%;
        width:7.85%;
    }
    .n3 a img{
        float:left;
        padding-right: 10%;
        width:7.55%;
    }
    .n4 a img{
        float:left;
        padding-right: 10%;
        width:7.2%;
    }
    .n5 a img{
        width:7.6%;
    }
    /*footer*/
    .feet{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        border-top: 10px solid transparent;
        border-image:url(../images/NOrangeB.png) 150 round;
        background-color:black;
    }
    .feet > a > img{
        width: 20%;
    }
}
/*Landscape tablet==============================================================================================================================================================*/
@media only screen and (min-width: 800px) and (max-width: 1200px){
    /*do not need for computer*/
    .headP{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .n1{
        display: none;
        visibility: hidden;
    }
    .n2{
        display: none;
        visibility: hidden;
    }
    .n3{
        display: none;
        visibility: hidden;
    }
    .n4{
        display: none;
        visibility: hidden;
    }
    .navigation{
        display: none;
        visibility: hidden;
    }
    .exs{
        display: none;
        visibility: hidden;
    }
    .HAB{
        display: none;
        visibility: hidden;
    }
    .logo{
        display: none;
        visibility: hidden;
    }
    .logoe{
        display: none;
        visibility: hidden;
    }
    .navigationPhone{
        display: none;
        visibility: hidden;
    }
    .foot{
        display: none;
        visibility: hidden;
    }
    .feet{
        display: none;
        visibility: hidden;
    }
    .pic1{
        display: none;
        visibility: hidden;
    }
    .pic2{
        display: none;
        visibility: hidden;
    }
    /*grid-container*/
    .grid-container{
        display: grid;
        grid-template-rows: 10% 10% 5% 40% 40% 30%;
        grid-template-columns: 25% 50% 25%;
        margin:0px;
    }
    /*logo*/
    .logos{
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:1;
        grid-row-end: 3;
        width: 200%;
    }
    .logos > a > img{
        width: 20%;
        transform: rotate(340deg);
    }
    .logos > a > img:hover{
        transform:rotate(-380deg);
        transition:1s;

    }
    /*background for the top*/
    .back{
        grid-column-start:1;
        grid-column-end:4;
        grid-row-start:1;
        grid-row-end:3;
        z-index: -1;
        background-image: url(../images/ITBackL.png);
        background-size: contain;
    }
    /*header*/
    .head{
        grid-column-start:2;
        grid-column-end:4;
        grid-row-start:1;
        grid-row-end: 2;
        font-family: 'Candy' , fantasy;
        font-size: 30px;
        
        color: rgb(255, 102, 153);
        text-align:right;
    }
    .tite{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        font-family: 'Candy';
        font-size: 100px;
        text-align: center;
        text-shadow: 2px 2px green;
    }
    /*navigation*/
    .navigationLand{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        background-image: url(../images/CBorder.png);
        background-size: 15%;
        z-index:6;
        position: -webkit-sticky;
        position: sticky;
        top:0;
    }
    .navigationLand ul{
        position: relative;
        bottom: 20%;
        text-align: center;
    }
    .navigationLand ul li{
        display: inline;
        margin: 10px;
        padding:3px;
        background-color: rgb(128, 64, 0);
        border-radius: 20% 20% 20% 20%;
        box-shadow: 0 0 1px 3px rgb(77, 38, 0) inset;
        
    }
    .navigationLand ul li a{
        text-decoration: none;
        color: rgb(255, 102, 153);
        
    }
    /*about*/
    
    .bout{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 6;
        background-image: url(../images/LBack.png);
        background-repeat: round;
        z-index:-1;
    }
    .out{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
        background-color: rgb(255, 102, 153);
        box-shadow: .1px 5px 5px 5px #262626;
        
    }
    .ut{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
        font-family: 'soft';
        font-size: 20px;
        color:rgb(102, 51, 0);
        z-index:1;
        padding: 10px;
    }
    /*footer*/
    .foots{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
        border-top: 20px solid transparent;
        border-image:url(../images/CBorder.png) 130 repeat;
        
        background-image: url(../images/FBackL.png);
        background-size: contain;
    }
    .foots > a > img{
        width: 3%;
    }
    .yess{
        position: relative;
        top: 35.3%;
        left: 84.5%;
        transform: rotate(60deg);
        
    }
    .noe{
        position: relative;
        top:35.3%;
        left: 2.6%;
        
    }
    .kinda{
        position: relative;
        top: 35.3%;
        left: 38.5%;
        
    }
}
/*Computer======================================================================================================================================================================*/
@media only screen and (min-width: 1200px){
    /*grid-container*/
    .grid-container{
        display: grid;
        grid-template-rows: 15% 15% 40% 40% 30%;
        grid-template-columns: 25% 50% 25%;
    }
    /*do not need for computer*/
    .headP{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .navigationLand{
        display: none;
        visibility: hidden;
    }
    .navigationPhone{
        display: none;
        visibility: hidden;
    }
    .logos{
        display: none;
        visibility: hidden;
    }
    .foots{
        display: none;
        visibility: hidden;
    }
    .feet{
        display: none;
        visibility: hidden;
    }
    /*logo*/
    .logo{
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:1;
        grid-row-end: 3;
        width: 200%;
    }
    .logo > a > img{
        width: 50%;
        transform: rotate(340deg);
    }
    .logo > a > img:hover{
        transform:rotate(-360deg);
        transition:1s;

    }
    /*background for the top*/
    .back{
        grid-column-start:1;
        grid-column-end:4;
        grid-row-start:1;
        grid-row-end:3;
        z-index: -1;
        background-image: url(../images/lights.jpg);
        background-size: 50%;
    }
    /*header*/
    .head{
        grid-column-start:2;
        grid-column-end:4;
        grid-row-start:1;
        grid-row-end: 2;
        font-family: 'Mist' , fantasy;
        font-size: 100px;
        text-shadow: 2px 2px black;
        color: gold;
        text-align:right;
    }
    /*navigation*/
    .HAB{
        z-index:3;
        position: fixed;
        right: 1%;
        top:20%;
    }
    .navigation{
        margin: 0px;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0.95); 
        width: 100%;
        height: 100%;
        position: fixed;
    }
    .nav1{
        position: absolute;
        bottom: 5%;
        left: 30%;
        width: 25%;
        height: 45%;
        /*border-bottom: 30px solid transparent;
        border-image:url(../images/border.png) 150 round;*/
        background-image: url(../images/des.jpg);
        background-size: 100%;
    }
    .nav1 > a > img{
        width:50%;
        position: relative;
        left: 25%;
        top: 40%;
    }
    .nav1 > a > img:hover{
        transform: scale(1.5);
        transition: 1s;
    }
    .nav2{
        position: absolute;
        bottom: 5%;
        left: 55%;
        width: 25%;
        height: 45%;
       
        background-image: url(../images/Skillback.jpg);
        background-size:85%;
    }
    .nav2 >a > img{
        width: 50%;
        z-index: 5;
        position: relative;
        left: 35%;
        top: 40%;
        
    }
    .nav2 > a > img:hover{
        transform: scale(1.5);
        transition: 1s;
    }
    .nav3{
        position: absolute;
        left: 30%;
        top:5%;
        width: 25%;
        height: 45%;
        background-image: url(../images/road.jpg);
        background-size: 100%;
    }
    .nav3 > a > img{
        position: relative;
        width: 20%;
        top: 70%;
        left: 30%;
    }
    .nav3 > a > img:hover{
        transform: translate(30px, -65px) scale(.2);
        transition: 1s;
    }
    .nav4{
        position: absolute;
        left: 55%;
        top: 5%;
        width: 25%;
        height: 45%;
        background-image: url(../images/gal.jpg);
        background-size: 100%;
    }
    .nav4 > a > img{
        width: 35%;
        position: relative;
        left: 50%;
        top: 10%;
    }
    .nav4 > a > img:hover{
        transform: rotateY(360deg);
        transition: 1s;
    }
    .nav5{
        z-index: 10;
        position: absolute;
        left: 42%;
        top: 30%;
        width: 25%;
        height: 40%;
        background-image: url(../images/cloud.jpg);
        background-size: 100%;
    }
    .nav5 > a > img{
        width: 50%;
        position: relative;
        left: 23%;
        
    }
    .nav5 p{
        background-color:rgba(0, 0, 0, 0.589);
        color:white;
        font-size: 50px;
        position: relative;
        top: 6%;
        text-align:center;
        width:100%;
    }
    /*about*/
    .tite{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        font-family: 'Mist';
        font-size: 200px;
        text-align: center;
        border-bottom: 30px solid transparent;
        border-image:url(../images/border.png) 150 round;
       padding-top:7%;
    }
    .bout{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
        z-index: 2;
        background-image: url(../images/office.jpg);
        background-repeat: round;
    }
    .ut > h1{
        font-family: 'dish';
        font-size: 50px;
    }
    .ut > ul > li{
        font-size: 30px;
    }
    .out{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
        background-color: rgba(255, 255, 255, 0.781);
        z-index:2;
    }
    .pic1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
        z-index:2;
    }
    .pic1 img{
        width:100%;
        height:49%;
    }
    .pic2{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
        z-index:2;
    }
    .pic2 img{
        width:100%;
        height: 49%;
    }
    .t{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
        z-index:5;
    }
    .ut{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
        
        z-index:2;
        font-family: 'dish';
    }
    /*footer*/
    .foot{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        border-top: 30px solid transparent;
        border-image:url(../images/border.png) 150 round;
        background-image: url(../images/port.jpg);
    }
    .foot > a > img{
        width: 10%;
    }
    .yes{
        position: relative;
        top: 20%;
        left: 80%;
        transform: rotate(60deg);
    }
    .no{
        position: relative;
        top:25%;
    }
    .kind{
        position: relative;
        left: 30%;
    }
}
/*All of them===================================================================================================================================================================*/
