/*phone*/
@media only screen and (max-width: 600px){
        /*Grid-container*/
        .grid-container{
            display: grid;
            grid-template-rows: 15% 10% auto 10% 10% 10% 10% 20%;
            margin: 0px;
        }
}
/*vertical tablet===============================================================================================================================================================*/
@media only screen and (min-width: 601px) and (max-width: 800px){}
/*Landscape tablet==============================================================================================================================================================*/
@media only screen and (min-width: 800px) and (max-width: 1200px){}
/*Computer======================================================================================================================================================================*/
@media only screen and (min-width: 1200px){}
/*All of them===================================================================================================================================================================*/
@font-face{
    font-family: 'Mist';
    src: url('Fonts/Mistrain.ttf');
    src: url('Fonts/Mistrain.ttf') format('truetype');
}