@font-face{
    font-family: 'segoe';
    src: url('Fonts/segoesc.ttf');
    src: url('Fonts/segoesc.ttf') format('truetype');
}
/*grid-container*/
.grid-container{
    display: grid;
    grid-template-columns: 20% 25% auto 20%;
    grid-template-rows: 15% 20% 25% auto;
}

/*Background*/
.background{
    background-image:url(../images/background.jpg);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

/*nav and logo*/
.logo{
    position: fixed;
    background-color: rgb(0, 51, 102);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.navigation{
    position: fixed;
    background-color: rgb(0, 89, 179);
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    text-decoration: none;
}

/*aside*/
.toSide{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: rgb(102, 179, 255);
}
.br{
    border-right: 5px inset rgb(0, 64, 128);
    padding: 10px;

}
/*header*/
.head{
    font-family: 'segoe' , fantasy;
    color: black;
    background-color: rgb(102, 179, 255);
}
.bb{
    border-bottom: 5px inset rgb(0, 64, 128);
    padding: 10px;
    
}