@charset "UTF-8";
@font-face{
    font-family: 'iron';
    src:url("Fonts/Stark.ttf");
    src:url("Fonts/Stark.ttf") format(truetype);
}
/*Phone===============================================================================================================================================================================*/
@media only screen and (max-width: 600px){
    .grid-container{
        display: grid;
        grid-template-rows: 5% 10% auto 7%;
        grid-template-columns: 100%;
    }
    body{
        background-image: linear-gradient( red , yellow, yellow,  red);
    }
    .head{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url("../images/ironman.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    .head h1{
            text-align: center;
            z-index: 2;
            padding: 3em;
            color:black;
            text-shadow: 2px 2px gold;
            font-size:50px;
            font-family: 'iron';
            position: relative;
            bottom:60%;
    }
    .navigation{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align:center;
       
        width: 30%;
        z-index:3;
        position: -webkit-sticky;
        position: sticky;
        top:0;
        margin-left:auto;
        margin-right:auto;
        
    }
    .navigation a{
        
        background-color:yellow;
        margin: 20px;
        position: relative;
        top:30%;
        border: 2px solid red;
        padding: 10px;
        border-radius: 50%;
        height:80px;
        width:80px;
        color:red;
        text-decoration: none;
    }
    .words{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .words img{
        width: 70%;
        float: right;
    }
    .foot{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: center;
        background-color: transparent;
        color: gold;
        
    }
    .foot a{
        background-color: transparent;
        color: gold;
        text-decoration-line: gold;
    }
    .foot a:hover{
        color: rgba(255, 217, 0, 0.712);
        font-size: 20px;
        transition: 2s;
    }
    .sideOne{
        display:none;
        visibility: hidden;
    }
    .sideTwo{
        display:none;
        visibility: hidden;
    }
}
/*Vertical============================================================================================================================================================================*/
@media only screen and (min-width: 601px) and (max-width: 800px){
    .grid-container{
        display: grid;
        grid-template-rows: 5% 20% auto 3%;
        grid-template-columns: 100%;
    }
    body{
        background-image: linear-gradient( red , yellow, yellow,  red);
    }
    .head{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url("../images/ironman.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    .head h1{
            text-align: center;
            z-index: 2;
            padding: 3em;
            color:black;
            text-shadow: 2px 2px gold;
            font-size:50px;
            font-family: 'iron';
            position: relative;
            bottom:30%;
    }
    .navigation{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align:center;
       
        width: 30%;
        z-index:3;
        position: -webkit-sticky;
        position: sticky;
        top:0;
        margin-left:auto;
        margin-right:auto;
        
    }
    .navigation a{
        
        background-color:yellow;
        margin: 20px;
        position: relative;
        top:30%;
        border: 2px solid red;
        padding: 10px;
        border-radius: 50%;
        height:80px;
        width:80px;
        color:red;
        text-decoration: none;
    }
    .words{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .words img{
        width: 70%;
        float: right;
    }
    .foot{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: center;
        background-color: transparent;
        color: gold;
        
    }
    .foot a{
        background-color: transparent;
        color: gold;
        text-decoration-line: gold;
    }
    .foot a:hover{
        color: rgba(255, 217, 0, 0.712);
        font-size: 20px;
        transition: 2s;
    }
    .sideOne{
        display:none;
        visibility: hidden;
    }
    .sideTwo{
        display:none;
        visibility: hidden;
    }
}
/*landscape===========================================================================================================================================================================*/
@media only screen and (min-width: 801px) and (max-width: 1199px){
    .grid-container{
        display: grid;
        grid-template-rows: 5% 30% auto 7%;
        grid-template-columns: 25% 50% 25%;
    }
    body{
        background-image: linear-gradient(to right, red , yellow, yellow,  red);
    }
    .head{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url("../images/ironman.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    .head h1{
            text-align: center;
            z-index: 2;
            padding: 3em;
            color:black;
            text-shadow: 2px 2px gold;
            font-size:100px;
            font-family: 'iron';
            position: relative;
            bottom:30%;
    }
    .navigation{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align:center;
       
        width: 30%;
        z-index:3;
        position: -webkit-sticky;
        position: sticky;
        top:0;
        margin-left:auto;
        margin-right:auto;
        
    }
    .navigation a{
        background-color:yellow;
        margin: 20px;
        position: relative;
        top:30%;
        border: 2px solid red;
        padding: 10px;
        border-radius: 50%;
        height:80px;
        width:80px;
        color:red;
        text-decoration: none;
    }
    .words{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .words img{
        width: 70%;
        float: right;
    }
    .sideOne{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
        
    }
    .sideOne img{
        width:0%;
        z-index:3;
        position: -webkit-sticky;
        position: sticky;
        top:0;
    }
    .sideTwo{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .sideTwo img{
        width: 0%;
        z-index:3;
        position: -webkit-sticky;
        position: sticky;
        top:0;
    }
    .foot{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: center;
        background-color: transparent;
        color: red;
        
    }
    .foot a{
        background-color: transparent;
        color: red;
        text-decoration-line: red;
    }
    .foot a:hover{
        color:rgba(255, 0, 0, 0.712);
        font-size: 20px;
        transition: 2s;
    }
}
/*Computer============================================================================================================================================================================*/
@media only screen and (min-width: 1200px){
    .grid-container{
        display: grid;
        grid-template-rows: 5% 30% auto 7%;
        grid-template-columns: 25% 50% 25%;
    }
    body{
        background-image: linear-gradient(to right, red , yellow, yellow,  red);
    }
    .head{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url("../images/ironman.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    .head h1{
            text-align: center;
            z-index: 2;
            padding: 3em;
            color:black;
            text-shadow: 2px 2px gold;
            font-size:100px;
            font-family: 'iron';
            position: relative;
            bottom:30%;
    }
    .navigation{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align:center;
       
        width: 30%;
        z-index:3;
        position: -webkit-sticky;
        position: sticky;
        top:0;
        margin-left:auto;
        margin-right:auto;
        
    }
    .navigation a{
        background-color:yellow;
        margin: 20px;
        position: relative;
        top:30%;
        border: 2px solid red;
        padding: 10px;
        border-radius: 50%;
        height:80px;
        width:80px;
        color:red;
        text-decoration: none;
    }
    .words{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .words img{
        width: 70%;
        float: right;
    }
    .sideOne{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
        
    }
    .sideOne img{
        width:0%;
        z-index:3;
        position: -webkit-sticky;
        position: sticky;
        top:0;
    }
    .sideTwo{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .sideTwo img{
        width: 0%;
        z-index:3;
        position: -webkit-sticky;
        position: sticky;
        top:0;
    }
    .foot{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: center;
        background-color: transparent;
        color: red;
        
    }
    .foot a{
        background-color: transparent;
        color: red;
        text-decoration-line: red;
    }
    .foot a:hover{
        color:rgba(255, 0, 0, 0.712);
        font-size: 20px;
        transition: 2s;
    }
}
