

/*phone*/
@media only screen and (max-width: 600px) {
     .list{
        visibility: hidden;
        display:none; 
    }

    /*Grid-container*/
    .grid-container{
        display: grid;
        grid-template-columns: 20% 25% auto 15%;
        grid-template-rows: 7% 25% 40% auto;
        margin:0px;
    }
     
    /*logo*/
    .logo{
       /* z-index:1;
        position: -webkit-sticky;
        position: sticky;
        top:0;*/
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: white;

        /*border-bottom: 3px solid orange;
        box-shadow: 0px 3px 4px -3px black;*/
    }
    .logo > img{
        width: 100%;
        float: left;
    }
    /*header*/
    .header{
        /*z-index:1;
        position: -webkit-sticky;
        position: sticky;
        top:0;*/
        background-color: white;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
       /* border-bottom: 3px solid orange;
        box-shadow: 0px 3px 3px  -3px black;*/
    }
    .header{
        color: orange;
    }
    
    /*nav*/
    .nav{
        background-color: white;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    a{
        text-decoration:none;
        color:orange;
    }
    ul{
        background: white;
        list-style: none;
        margin: 0;
        padding-left: 0;
        float: right;

    }
    li{
        color: orange;
        background: white;
        display: block;
        float: left;
        padding: .5rem;
        position: relative;
        text-decoration: none;
        transition-duration:0.5s;
    }

    ul li ul{
        background:white;
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        top: 15px;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        width: 100%;
        display: none;

    }
    ul li:hover > ul,
    ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
        float: left;
        

    }
    ul li ul li{
        clear: both;
        width: 100%;
    }
    
   
    


    /*picture*/
    .pic{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .pic > img{
       width:100%;
        height: 100%;
    }
    /*info*/
    .a1{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;

        padding: 10px
    }
    /*foot*/
    .foot1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: orange;
    }
    .foot1 > h4{
        color: white;
        padding-left: 20px;
    }
    .foot1 > a > img{
        width: 100%;
    }
    .foot2{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: orange;
    }
    .foot2 > h4{
        color: white;
        padding-left: 20px;
    }
    .foot2 > a > img{
        width: 10%;
        margin-bottom: 10px;
        padding-left: 20px;
    }
}

/*===============================================================================================================================================================================*/
@media only screen and (min-width: 601px) and (max-width: 800px) {

    /*Grid-container*/
    .grid-container{
        display: grid;
        grid-template-columns:  20% 25% auto 15%;
        grid-template-rows: 7% 30% 30% auto;
    }
    
    /*logo*/
    .logo{
    /* z-index:1;
        position: -webkit-sticky;
        position: sticky;
        top:0;*/
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: white;

        /*border-bottom: 3px solid orange;
        box-shadow: 0px 3px 4px -3px black;*/
    }
    .logo > img{
        width: 100%;
        float: left;
    }
    /*header*/
    .header{
        /*z-index:1;
        position: -webkit-sticky;
        position: sticky;
        top:0;*/
        background-color: white;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    /* border-bottom: 3px solid orange;
        box-shadow: 0px 3px 3px  -3px black;*/
    }
    .header{
        color: orange;
        font-size: 50px;
    }

    /*nav*/
    .nav{
        background-color: white;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    a{
        text-decoration:none;
        color:orange;
    }
    ul{
        background: white;
        list-style: none;
        margin: 0;
        padding-left: 0;
        float: right;

    }
    li{
        color: orange;
        background: white;
        display: block;
        float: left;
        padding: .5rem;
        position: relative;
        text-decoration: none;
        transition-duration:0.5s;
    }

    ul li ul{
        background:white;
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        top: 15px;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        width: 100%;
        display: none;

    }
    ul li:hover > ul,
    ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
        float: left;
        

    }
    ul li ul li{
        clear: both;
        width: 100%;
    }





    /*picture*/
    .pic{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .pic > img{
    width:100%;
    height: 100%
    }
    /*info*/
    .a1{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .a1 > h3{
        color: orange;
    }
    /*foot*/
    .foot1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: orange;
    }
    .foot1 > h4{
        color: white;
        padding-left: 20px;
    }
    .foot1 > a > img{
        width: 100%;
    }
    .foot2{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: orange;
    }
    .foot2 > h4{
        color: white;
        padding-left: 20px;
    }
    .foot2 > a > img{
        width: 10%;
        margin-bottom: 10px;
        padding-left: 20px;
    }
}
/*=======================================================================================================================================================================================*/
@media only screen and (min-width: 800px) and (max-width: 1200px) {
    /*grid-container*/
    .grid-container{
        display: grid;
        grid-template-rows: 7% auto 40%;
        grid-template-columns: 10% 50% auto;
        margin: 0px;
    }

    /*nav*/
    .nav{
        background-color: white;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    a{
        text-decoration:none;
        color:orange;
    }
    ul{
        background: white;
        list-style: none;
        margin: 0;
        padding-left: 0;
        float: right;

    }
    li{
        color: orange;
        background:white;
        display: block;
        float: left;
        padding: .5rem;
        position: relative;
        text-decoration: none;
        transition-duration:0.5s;
    }

    ul li ul{
        background:rgb(217, 217, 217);
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        top: 15px;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        width: 100%;
        display: none;

    }
    ul li:hover > ul,
    ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
        float: left;
        

    }
    ul li ul li{
        clear: both;
        width: 100%;
    }

    /*header*/
    .header{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: white;
        color: orange;
    }
    .header{
        font-size: 50px;
    }

    /*logo*/
    .logo{
        /* z-index:1;
            position: -webkit-sticky;
            position: sticky;
            top:0;*/
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            background-color: white;
    
            /*border-bottom: 3px solid orange;
            box-shadow: 0px 3px 4px -3px black;*/
        }
        .logo > img{
            width: 100%;
            float: left;
            top: 10px;
        }

    /*pic*/
    .pic{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .pic > img{
        float:left;
        width: 100%;
        margin-top: 30px;
        height: 95%;
        margin-bottom: 5px;
    }
    /*a1*/
    .a1{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .a1 > p{
        padding: 5px;
    }
    .a1 > h3{
        padding: 5px;
        color: orange;
    }
    /*foot*/
    .foot1{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: orange;
    }
    .foot1 > h4{
        color:white;
    }
    .foot1 > a > img{
        width: 100%;
    }
    .foot2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: orange;

    }
    .foot2 > a > img{
        width: 20%;
    }
    .foot2 > h4{
        color: white;
    }
}
/*===================================================================================================================================================================================================*/
@media only screen and (min-width: 1200px) {
    /* grid-container*/
    .grid-container{
        display: grid;
        grid-template-columns: 10% 20% 70%;
        grid-template-rows: 10% 50% 40%;
    }
    /*logo*/
    .logo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: white;
    }
    .logo > img{
        float: left;
        width:100%;
    }
    /*header*/
    .header{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: white;
        color: orange;
        font-size: 50px;
    }
    /*nav*/
    .nav{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    a{
        text-decoration:none;
        color:orange;
    }
    ul{
        background: white;
        list-style: none;
        margin: 0;
        padding-left: 0;
        float: right;

    }
    li{
        color: orange;
        background:white;
        display: block;
        float: left;
        padding: .5rem;
        position: relative;
        text-decoration: none;
        transition-duration:0.5s;
        font-size: 50px;
    }

    ul li ul{
        background:rgb(217, 217, 217);
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        top: 40px;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        width: 100%;
        display: none;

    }
    ul li:hover > ul,
    ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
        float: left;
        

    }
    ul li ul li{
        clear: both;
        width: 100%;
    }
    /*pic*/
    .pic{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .pic > img{
        height: 100%;
        width: 100%;
    }
    /*a1*/
    .a1{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 0px;
        font-size: 30px;
    }
    .a1 > h3{
        color: orange;
    }
    /*foot*/
    .foot1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: orange;
    }
    .foot1 > a > img{
        width: 100%;
    }
    .foot1 > h4{
        color: white;
    }
    .foot2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: orange;
    }
    .foot2 > a > img{
        width: 30%;
    }
    .foot2 > h4{
        color: white;
    }
}

